<h2>Liste des compagnies</h2>

<div class="dropdown-container">
  <p-dropdown [options]="monthsValue" (onChange)="onSelectMonth($event.value)"></p-dropdown>
</div>

<p-table [value]="months" selectionMode="single" [loading]="loading">
  <ng-template pTemplate="header">
    <!--    <tr>-->
    <!--      <th>-->
    <!--        <input pInputText type="text" (input)="table.filter($any($event.target).value, 'name', 'contains')" [value]="$any(table.filters['name'])?.value" placeholder="Search by Name" class="p-column-filter">-->
    <!--      </th>-->
    <!--    </tr>-->
    <tr>
      <th pSortableColumn="name">Nom<p-sortIcon field="nbCanceledFlights"></p-sortIcon></th>
      <th pSortableColumn="nbFlights">Vols totaux<p-sortIcon field="nbFlights"></p-sortIcon></th>
      <th pSortableColumn="nbCanceledFlights">Vols annulés<p-sortIcon field="nbCanceledFlights"></p-sortIcon></th>
      <th pSortableColumn="nbDelayedFlights">Vols en retards<p-sortIcon field="nbDelayedFlights"></p-sortIcon></th>
      <th pSortableColumn="avgDelayedCanceledFlights">Annulés/Retards %<p-sortIcon field="avgDelayedCanceledFlight"></p-sortIcon></th>
      <th pSortableColumn="avgElapsedTime">Durée moyenne<p-sortIcon field="avgElapsedTime"></p-sortIcon></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-mou>
    <tr (click)="onRowSelected(mou)">
      <td>{{mou.name}}</td>
      <td>{{mou.nbFlights}}</td>
      <td>{{mou.nbCanceledFlights}}</td>
      <td>{{mou.nbDelayedFlights}}</td>
      <td>{{mou.avgDelayedCanceledFlights | round:2}} % </td>
      <td>{{mou.avgElapsedTime | duration}}</td>
    </tr>
  </ng-template>

</p-table>
