.container {
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;

  h2 {
    margin-top: 0;
  }
}
