<table>
  <thead>
  <tr>
    <th>Statistique</th>
    <th><p-dropdown [options]="allCompanies"
                    placeholder="Aéroport 1"
                    optionLabel="name"
                    optionValue="id"
                    [(ngModel)]="airline1Id"
                    (onChange)="onSelectAirline($event, 0)"></p-dropdown>
    </th>
    <th><p-dropdown [options]="allCompanies"
                    optionLabel="name"
                    optionValue="id"
                    placeholder="Aéroport 2"
                    [(ngModel)]="airline2Id"
                    (onChange)="onSelectAirline($event, 1)"></p-dropdown>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Taux d'annulation</td>
    <td>{{companies[0]?.canceledFligth}}</td>
    <td>{{companies[1]?.canceledFligth}}</td>
  </tr>
  <tr>
    <td>Taux de retard</td>
    <td>{{companies[0]?.lateFligth}}</td>
    <td>{{companies[1]?.lateFligth}}</td>
  </tr>
  <tr>
    <td>Moyenne des retards</td>
    <td>{{companies[0]?.avgDuration}}</td>
    <td>{{companies[1]?.avgDuration}}</td>
  </tr>
  <tr>
    <td>Fiabilité</td>
    <td>{{companies[0]?.reliability}}</td>
    <td>{{companies[1]?.reliability}}</td>
  </tr>
  </tbody>

</table>
