<div class="home-buttons-container">
  <div class="left-buttons">
    <div class="top">
      <div class="home-btn green-home-btn">Covid 19</div>
      <div class="home-btn blue-home-btn">Prévisions futures</div>
    </div>
    <div class="bottom">
      <div class="home-btn red-home-btn">L'année 2001 et les twin towers</div>
    </div>

  </div>
  <div routerLink="../airline-comparison"
       class="home-btn right-btn green-home-btn">Comparaison des<br>différentes<br>compagnies</div>
</div>
