.home-buttons-container {
  font-size: 24px;
  display: flex;
  gap: 20px;
  justify-content: center;

  .left-buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top {
      display: flex;
      gap: 20px;
    }

  }

  .home-btn {
    padding: 15px;
    border-radius: 15px;
    transition: transform .5s;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
    }

    &.blue-home-btn {
      $blue: #b4c6ff;
      background: linear-gradient(45deg, $blue, lighten($blue, 10));
    }

    &.green-home-btn {
      $green: #ceffac;
      background: linear-gradient(45deg, $green, lighten($green, 10));
    }

    &.red-home-btn {
      $red: #ffabab;
      background: linear-gradient(45deg, $red, lighten($red, 10));
    }
  }
}


