h2 {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.dropdown-container {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.airport-dashboards {
  display: flex;

  div:last-child {
    border-left: 1px black solid;
  }
}
