<h2>Dashboard</h2>

<div class="header">
  <p>Analyse pour le mois de : </p>
  <p-dropdown [options]="months" [(ngModel)]="currentMonth" (onChange)="updateCurrentAnalyze()"></p-dropdown>
</div>

<div class="dropdown-container">
  <div>
    <p>Aéroport</p>
    <p-dropdown [options]="airportNames" (onChange)="updateDataAirport($event.value)"
                [(ngModel)]="selectedAirportId" optionLabel="name" optionValue="idAirport"></p-dropdown>
  </div>

  <div>
    <p>Comparer avec un autre aéroport</p>
    <p-dropdown [options]="airportNames" (onChange)="updateDataAirport($event.value, true)"
                [(ngModel)]="selectedComparedAirportId" optionLabel="name" optionValue="idAirport"></p-dropdown>
  </div>

</div>

<div class="airport-dashboards">
  <div *ngIf="currentAnalyze">
    <app-airport-stats [analysedAirports]="analyzedAirports" [currentAnalyze]="currentAnalyze"></app-airport-stats>
  </div>

  <div *ngIf="currentAnalyzeToCompare">
    <app-airport-stats [analysedAirports]="analyzedAirportsToCompare"
                           [currentAnalyze]="currentAnalyzeToCompare"></app-airport-stats>
  </div>
</div>


