<div class="main-card" *ngIf="currentAnalyze">
  <app-custom-card [title]="'Nombre de vols annulés'"
                   [value]="currentAnalyze.nbCanceledFlights"
                   [percentageBase]="currentAnalyze.nbFlights"
                   iconName="airplanemode_inactive"></app-custom-card>

  <app-custom-card [title]="'Nombre de vols en retard'"
                   [value]="currentAnalyze.nbDelayedFlights"
                   [percentageBase]="currentAnalyze.nbFlights"
                   iconName="watch_later"></app-custom-card>

  <app-custom-card [title]="'% de retards/annulations'"
                   [percentageValue]="true"
                   [value]="currentAnalyze.avgDelayedCanceledFlights"
                   iconName="watch_later"></app-custom-card>

  <app-custom-card [title]="'Nombre de vols totaux'"
                   [value]="currentAnalyze.nbFlights"
                   iconName="airplanemode_active"></app-custom-card>

</div>

<div class="charts" *ngIf="statsByMonth">
  <app-line-chart [datas]="statsForLines.cancelFlights" [label]="'Vols annulés'"></app-line-chart>
  <app-line-chart [datas]="statsForLines.lateFlights" [label]="'Vols en retard'"></app-line-chart>
  <app-line-chart [datas]="statsForLines.lateCancelRate" [label]="'% vols annulés/retardés'"></app-line-chart>
  <app-line-chart [datas]="statsForLines.totalFlights" [label]="'Vols totaux'"></app-line-chart>
</div>

<div class="charts" *ngIf="statsByMonth">
  <app-chart [statsByMonth]="statsByMonth.topDelayReason" [title]="'Retards'"></app-chart>
  <app-chart [statsByMonth]="statsByMonth.topComanies" [title]="'Compagnies'"></app-chart>
  <app-chart [statsByMonth]="statsByMonth.topByCatElapsedTime" [title]="'Temps de vols'"></app-chart>
  <app-chart [statsByMonth]="statsByMonth.topWeekDays" [title]="'Jours'"></app-chart>
  <app-chart [statsByMonth]="statsByMonth.topCancelReason" [title]="'Annulations'"></app-chart>
  <app-chart [statsByMonth]="statsByMonth.topServedAirports" [title]="'Aéroports desservis'"></app-chart>
</div>
