.analyzed-card-img {
  width: 25px;
  text-align: right;
  float: right;
}

.title {
  font-size: 12px;
  margin-top: 2px;
  font-weight: bold;
}

.customCard {
  width: 500px;
  display: inline-block;
  padding: 15px;
  margin-top: 10px;
}

.footercard {
  text-align: center;
  color: #00006b;
  margin: 2px;
  font-size: 10px;
}

.card {
  background-color: var(--surface-card);
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 3px 5px #00000005, 0 0 2px #0000000d, 0 1px 4px #00000014 !important;
  width: 220px;
  height: 120px;
  margin-top: 10px;

}

.value {
  color: #000e31;
  font-size: 30px;
  text-align: center;
  margin: 5px;
}


