<div class="card">
  <div>
    <p class="title">{{title}}</p>
    <span class="analyzed-card-img material-icons">{{iconName}}</span>
  </div>
  <span>
    <p class="value">{{percentageValue ? (value |round:2) + ' %' : value}}</p>
  </span>
  <br>
  <div class="p-card-footer">
  <span>
    <p *ngIf="percentageBase" class="footercard"> {{computedPercentage + ' % par rapport au nombre de vols'}} </p>
  </span>
  </div>
</div>
