@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

html {
  font-family: "Arvo", serif;
}

.main-card {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  app-chart {
    margin-top: 16px;
  }
}
