<h2>Dashboard</h2>

<div class="header">
  <p>Analyse pour le mois de : </p>
  <p-dropdown [options]="months" [(ngModel)]="currentMonth" (onChange)="updateCurrentAnalyze()"></p-dropdown>
</div>

<div class="dropdown-container">
  <div>
    <p>Compagnie</p>
    <p-dropdown [options]="companyNames" (onChange)="updateDataCompany($event.value)"
                [(ngModel)]="selectedCompanyId" optionLabel="name" optionValue="idCarrier"></p-dropdown>
  </div>

  <div>
    <p>Comparer avec une autre compagnie</p>
    <p-dropdown [options]="companyNames" (onChange)="updateDataCompany($event.value, true)"
                placeholder="Sélectionnez"
                [(ngModel)]="selectedComparedCompanyId" optionLabel="name" optionValue="idCarrier"></p-dropdown>
  </div>

</div>

<div class="company-dashboards">
  <div *ngIf="currentAnalyze">
    <app-company-stats [analyzedCompanies]="analyzedCompany" [currentAnalyze]="currentAnalyze"></app-company-stats>
  </div>

  <div *ngIf="currentAnalyzeToCompare">
    <app-company-stats [analyzedCompanies]="analyzedCompanyToCompare"
                       [currentAnalyze]="currentAnalyzeToCompare"></app-company-stats>
  </div>
</div>

